body {
    margin: 0;
    padding: 0;
}
header {
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgba (0, 0, 0, 0.2);
}
header h1 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
nav ul li a:hover {
    border-bottom: 2px solid black;
}